.footer__column_content_info {
  flex-basis: 275px;
  padding: 0 35px 0 138px;
}

@media screen and (max-width: 1540px) {
  .footer__column_content_info {
    padding: 0 35px 0 100px;
  }
}

@media screen and (max-width: 1024px) {
  .footer__column_content_info {
    padding: 0 25px 0 50px;
  }
}

@media screen and (max-width: 767px) {
  .footer__column_content_info {
    order: 3;
  }
}

@media screen and (max-width: 539px) {
  .footer__column_content_info {
    flex-basis: 40px;
  }
}

@media screen and (max-width: 411px) {
  .footer__column_content_info {
    flex-basis: 60px;
  }
}
