.prices__card-subtitle {
  margin: 0;
  padding: 34.06px 0 18px 0;
  font-family: 'Noto Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 33px;
  text-align: center;
}
