.footer__author {
  margin: 0;
  font-family: 'Noto Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 45px;
}

@media screen and (max-width: 1024px) {
  .footer__author {
    font-size: 11px;
    line-height: 28px;
  }
}
