.customers__logo-three {
  width: 100%;
  text-decoration: none;
  transform: opasity .2s ease-in;
}

.customers__logo-three:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .customers__logo-three {
    max-width: 140px;
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  .customers__logo-three {
    max-width: 100px;
    text-align: center;
  }
}

@media screen and (max-width: 412px) {
  .customers__logo-three {
    max-width: 80px;
    text-align: center;
  }
}
