.left__button-start-text {
  margin: 0;
  padding-right: 4.65px;
  color: #2369E5;
  font-family: 'Noto Sans', Arial, sans-serif;
  font-style:  normal;
  font-weight: 900;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 22px;
}
