.advantages__left-item-text {
  margin: 0;
  font-family: 'Noto Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 33px;
}

@media screen and (max-width: 1024px) {
  .advantages__left-item-text {
    font-size: 14px;
    line-height: 29px;
  }
}

@media screen and (max-width: 768px) {
  .advantages__left-item-text {
    font-size: 11px;
    line-height: 22px;
  }
}

@media screen and (max-width: 540px) {
  .advantages__left-item-text {
    font-size: 9px;
    line-height: 18px;
  }
}

