.popup__video {
  width: 100%;
  max-width: 720px;
  min-height: 405px;
  border: 0;
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .popup__video {
    max-width: 375px;
    min-height: 210px;
  }
}
