.prices__card-text-second {
  margin: 0;
  padding-bottom: 33px;
  font-family: 'Noto Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 33px;
  text-align: center;
}
